<section class="tarjeta">
  <h2>{{ 'purchases_module' | i18n }}</h2>
  <p>{{ 'purchases_subtitle' | i18n }}</p>
  <button type="button" (click)="generarPedido()">{{ 'generate_purchase_order' | i18n }}</button>
  <p class="exito" *ngIf="mensaje">{{ mensaje | i18n }}</p>
  <p class="error" *ngIf="mensajeError">{{ mensajeError | i18n }}</p>
</section>

<section class="tarjeta">
  <table>
    <thead>
      <tr>
        <th>{{ 'products_inventory' | i18n }}</th>
        <th>{{ 'stock' | i18n }}</th>
        <th>{{ 'minimum' | i18n }}</th>
        <th>{{ 'suggested_quantity' | i18n }}</th>
        <th>{{ 'actions' | i18n }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listaPedido">
        <td>{{ item.nombre_producto }}</td>
        <td>{{ item.stock_actual }}</td>
        <td>{{ item.stock_minimo }}</td>
        <td>{{ item.cantidad_sugerida }}</td>
        <td>
          <button type="button" class="boton-papelera" (click)="quitarProductoLista(item.id_producto)" [title]="'remove_from_list' | i18n">
            <svg viewBox="0 0 24 24" aria-hidden="true">
              <path d="M9 3h6l1 2h4v2H4V5h4l1-2zm1 6h2v9h-2V9zm4 0h2v9h-2V9zM7 9h2v9H7V9z"/>
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
