<section class="pantalla-login">
  <article class="tarjeta-login">
    <h2>{{ 'login_title' | i18n }}</h2>
    <p>{{ 'login_subtitle' | i18n }}</p>

    <form [formGroup]="formularioLogin" (ngSubmit)="iniciarSesion()">
      <label>{{ 'user' | i18n }}</label>
      <input type="text" formControlName="email" [placeholder]="'user' | i18n" />

      <label>{{ 'password' | i18n }}</label>
      <input type="password" formControlName="clave_acceso" placeholder="********" />

      <button type="submit" [disabled]="cargando">{{ cargando ? '...' : ('enter' | i18n) }}</button>
    </form>

    <p class="error" *ngIf="mensajeError">{{ mensajeError | i18n }}</p>
  </article>
</section>
