<section class="tarjeta">
  <h2>{{ 'purchases_module' | i18n }}</h2>
  <p>{{ 'purchases_subtitle' | i18n }}</p>
  <button type="button" (click)="generarPedido()">{{ 'generate_purchase_order' | i18n }}</button>
  <p class="exito" *ngIf="mensaje">{{ mensaje | i18n }}</p>
  <p class="error" *ngIf="mensajeError">{{ mensajeError | i18n }}</p>
</section>

<section class="tarjeta">
  <table>
    <thead>
      <tr>
        <th>{{ 'products_inventory' | i18n }}</th>
        <th>{{ 'stock' | i18n }}</th>
        <th>{{ 'minimum' | i18n }}</th>
        <th>{{ 'suggested_quantity' | i18n }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listaPedido">
        <td>{{ item.nombre_producto }}</td>
        <td>{{ item.stock_actual }}</td>
        <td>{{ item.stock_minimo }}</td>
        <td>{{ item.cantidad_sugerida }}</td>
      </tr>
    </tbody>
  </table>
</section>
